.container {
    display: grid;
    grid-template: auto auto 10vw / 100% ;
}

.ul {
    display: grid;
    grid-template: 100% / 1.25fr repeat(7, 1fr);
    grid-template-areas: 
    "logo explore forum user . . search notif";
    align-items: center;
}

.home {
    font-family: 'Eagle Lake';
    font-size: 1.5em;
}

.search {
    grid-area: search;
}

.notif {
    grid-area: notif
}